:root {
  --darkest: #7A4031;
  --red-light: #FF4719;
  --red-dark: #E02B00;
  --green-dark: #009463;
  --green-light: #00E097;
  --white: white;
}

.App {
  text-align: center;
  background-color: var(--darkest);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}

.appbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

